/*p.first{
    font-size: 50px;
}
p.second{
    font-size: 20px;
} */    
.first__parag{
    justify-content: space-between;
    align-content: center;
}
.conspe{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.text{
    font-size: 16px;
}
